# Llama-Index Text-To-SQL Retrieval Agent
### Thoughts:
- Too inconsistent in its performance
- Easily makes up facts in the absence of results
- Isn't really able to grasp the full context of the data structure and meaning
- Underlying functionality difficult to modify, particularly the prompt template for the text-to-sql process prior to response synthesis.

In [2]:
import os
from dotenv import load_dotenv
from IPython.display import Markdown, display
import pandas as pd

from llama_index.core import SQLDatabase
from llama_index.llms.openai import OpenAI
from llama_index.core.indices.struct_store.sql_query import (
    SQLTableRetrieverQueryEngine,
)
from llama_index.core.objects import (
    SQLTableNodeMapping,
    ObjectIndex,
    SQLTableSchema,
)
from llama_index.core import VectorStoreIndex, PromptTemplate

from src.db.database import engine
from src.db import models


load_dotenv()


OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")


llm = OpenAI(temperature=0.1, model="gpt-4o-mini", api_key=OPENAI_API_KEY)

sql_database = SQLDatabase(engine)

table_node_mapping = SQLTableNodeMapping(sql_database)

table_schema_objs = [
    (SQLTableSchema(table_name=table.__tablename__, context_str=table.__context_str__)) 
    for table in models.__dict__.values() if hasattr(table, '__tablename__')
]

obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
)

response_synthesis_prompt_str = (
    "Given an input question, synthesize a response from the query results. \
    You must ensure your response is completely factual.\n"
    "<query>{query_str}</query>\n"
    "<sql>{sql_query}</sql>\n"
    "<sql response>SQL Response: {context_str}</sql response>\n"
    "Response: "
)
response_synthesis_prompt = PromptTemplate(
    response_synthesis_prompt_str,
)

query_engine = SQLTableRetrieverQueryEngine(
    sql_database, obj_index.as_retriever(similarity_top_k=1),
    response_synthesis_prompt=response_synthesis_prompt,
)

# query = "What are the fields in the meetings table and what do they represent contextually?"
# query = "Using just your provided system messaging and without using SQL, \
#     What are the fields in the meetings table and what do they represent contextually?"
# query = "What is the name of the firm that has the most meetings and how many meets do they have?"
# query = "Can you show me the first 5 rows of meetings?"
query = "Fetch the first 5 meetings and their content which have a firm attended that are in the Energy sector."
response = query_engine.query(query)

print("SQL Query:")
print("```\n" + response.metadata["sql_query"] + "\n```")
print("Response:")
display(Markdown(f"<b>{response}</b>"))
if "result" in response.metadata:
    display(pd.DataFrame(response.metadata["result"], columns=response.metadata["col_keys"]))

SQL Query:
```
SELECT m.beam_id, m.title, m.content
FROM meetings m
JOIN firms f ON m.firm_attended_id = f.firm_id
WHERE f.sector = 'Energy'
ORDER BY m.date
LIMIT 5;
```
Response:

<b>The first 5 meetings attended by a firm in the Energy sector are Meeting 1330, Meeting 726, Meeting 1626, Meeting 702, and Meeting 1822.</b>

                                beam_id         title       content
0  343d86ac-c36b-4876-8c9e-83005ac14b15  Meeting 1330  Content 1330
1  c08a8428-2287-43b6-952f-4228db247a5d   Meeting 726   Content 726
2  d83d6dc8-930b-4aca-99fa-d76118838bfb  Meeting 1626  Content 1626
3  97534c07-2ce9-4901-b0a5-67ca6afe9905   Meeting 702   Content 702
4  0fd3a552-e3f5-4207-8a02-1972869598e6  Meeting 1822  Content 1822

# Custom Simplified Implementation
- Much slower
- Has chain of thought reasoning with verbosity
- Still has issues constructing queries
- Need to consider how the information is presented back to the User in a memory-friendly way
    - Can return just beam_ids as part of the retrieval?
        - This can be added to the user's 'meetings in-focus' view?
    - Can return as markdown (BIG CONTEXT ISSUE)

In [ ]:
from src.db.database import session_scope
from src.rag.sql_retriever import SQLAgent


agent = SQLAgent(llm, "src/db/models.py", verbose=True)

# query = "I need all meetings between 2022-01-01 and 2023-01-01 where the firms that attended are in the Energy sector."
query = "Return the beam_ids of all meetings between 2022-01-01 and 2023-01-01 where the firms that attended are in the Energy sector."

with session_scope() as session:
    response = agent.complete(session, query)

response_md = response.to_markdown(index=True)

print(response_md)

CHAIN OF THOUGHTS:
Thoughts: I need to retrieve the beam_ids of meetings that occurred between the specified dates. The meetings table has a date column that I can filter on. Additionally, I need to join the firms table to filter by the Energy sector, which is specified in the firms table.
Outcome: I will need to join the meetings table with the firms table using the firm_attended_id in the meetings table and the firm_id in the firms table. Then, I will filter the results based on the date range and the sector.

Thoughts: The date range is from '2022-01-01' to '2023-01-01'. I will use the date column in the meetings table for this filter. I also need to filter the firms by the sector column to only include those in the Energy sector.
Outcome: I will add a filter for the date range and another filter for the sector being 'Energy'.

SQL QUERY:
```
SELECT meetings.beam_id
FROM meetings
JOIN meeting_firms ON meetings.meeting_id = meeting_firms.meeting_id
JOIN firms ON meeting_firms.firm_id = firms.firm_id
WHERE meetings.date BETWEEN '2022-01-01' AND '2023-01-01'
AND firms.sector = 'Energy';
```
|    | meetings.beam_id                     |
|---:|:-------------------------------------|
|  0 | 96c29c96-0b88-42a4-aafb-2c0a7f3ee222 |
|  1 | 99a999d7-adb2-4164-bc6e-83faecbed78e |
|  2 | 36de6a6a-224d-4e9f-ba9e-6678174496f9 |
|  3 | 11aaf21d-572f-42a8-9d60-51a8985ed3a6 |
|  4 | 9bd32b7e-d460-45ee-bf50-17b6f9aaf503 |
|  5 | 4b8b95c7-3477-4da9-aaf9-d3cd48fc6852 |
|  6 | 4e1153e0-9132-46fc-b598-1be95dbc9b46 |
|  7 | 0b19bf77-711e-42ff-a29a-2aff9b3545e0 |
|  8 | ddbd8ea0-ce46-4d6d-9789-5928b0c9ddf4 |
|  9 | 8a280825-9417-4d95-9eff-df17daccc802 |
| 10 | 783fd946-8869-426e-96e8-8254c25a932e |
| 11 | 69d0fb9b-9e4f-4532-88b7-2586fa7d8bfe |
| 12 | 9c00e5f2-e6d2-4904-bd5c-9107e1ea1940 |
| 13 | 161f1b20-bd82-4c7d-ac3c-1adf9491d562 |
| 14 | 5413ff09-16ca-497e-b41a-080d4f8a331a |
| 15 | 4c059bc6-1087-4f1a-be85-27ab3802c7d8 |
| 16 | 0270e251-e6bc-4cc1-b8cc-c8419491ffb9 |
| 17 | 21a7b97a-77a7-46c3-b43b-d77303424b64 |
| 18 | e47cca80-abfd-48d1-8486-d8beab6926c7 |
| 19 | 737ca913-e923-47d5-a4d2-375081bd6d5b |
| 20 | 51de8026-0ba7-4bee-9c92-a64e6fabb732 |
| 21 | 7fa1528d-e51a-4838-80ee-17f25d55994e |
| 22 | 872fca59-2a5f-4e9b-9774-3602a15e58d5 |
| 23 | 285f56ec-edc4-4f7c-bd6b-50da115709e9 |
| 24 | 17775aec-49f2-4e8c-9b66-c3c88ef12aa6 |
| 25 | 60dfac02-074e-4323-80c4-2d820e7c8d3c |
| 26 | b65a04a2-aef3-4589-bbbc-dd6ce9fb64b9 |
| 27 | 1e29a6c6-4db7-4626-9469-c8fbb742341a |
| 28 | ae5b54c8-8765-4f54-b51b-4cb2c5bc2626 |
| 29 | e232aade-483c-46f6-a544-fc05772e6275 |
| 30 | d59743b4-96d0-446c-93dd-ae2a256cf885 |
| 31 | 37caf22e-c1d0-4b84-8f97-559bed9f78e0 |
| 32 | 749efaba-92da-4da7-80f7-dc190949a051 |
| 33 | e31c730a-19b5-46d9-adde-567f71dc3384 |
| 34 | 6847682f-946a-4741-8059-6d7c38159161 |
| 35 | 0197e80e-2bf9-485c-a92a-78e391abdca5 |
| 36 | 31608e90-e89e-411d-941c-df0c752b8455 |
| 37 | 6e92e551-8f57-478e-99ca-91be44198101 |
| 38 | d17b11cf-0182-4849-952d-b381d949fec6 |
| 39 | 6ed95bc2-2d95-4489-aef8-c67591ce219c |
| 40 | 04655d47-eb58-44bc-8990-b054fefe00ac |
| 41 | e47cca80-abfd-48d1-8486-d8beab6926c7 |
| 42 | 128f334b-5862-47d8-8b7b-52a5c08e2336 |
| 43 | 76545b09-0b1f-441e-8405-65c3997b73a2 |
| 44 | 60dfac02-074e-4323-80c4-2d820e7c8d3c |
| 45 | d5750753-3588-4ac3-b012-a4e2e2f93e77 |
| 46 | 38ec0faf-1289-4175-9ba7-3de771972fa2 |
| 47 | 8438f81d-bc40-418b-998c-f75cbf11d584 |
| 48 | 81e3918a-7df7-4532-bf59-d72b9ad9468c |
| 49 | ddbd8ea0-ce46-4d6d-9789-5928b0c9ddf4 |
| 50 | 82c287ba-2829-4a9e-9bec-b18f771b3769 |
| 51 | 30240a8d-e478-44d7-a86d-b381b510fe6f |
| 52 | 73c39876-689f-42e1-9abd-afe471ee8869 |
| 53 | 3107e204-c709-4e24-9f07-f39eb1294773 |
| 54 | 9c62483e-8bc3-4807-86dd-28239e371494 |
| 55 | b0ff7982-08c8-41bb-913e-04e87a9de744 |
| 56 | d6f1182b-8b3a-467f-a228-6575d757964d |
| 57 | e47cca80-abfd-48d1-8486-d8beab6926c7 |
| 58 | 94beb5f3-563d-4cc0-a29a-3a94a9fe79e4 |
| 59 | d0e5fdf2-6857-41ef-8059-c3c2ead1ff09 |
| 60 | 6a9a938e-84e4-4c6a-8a6c-aed51baff9c5 |
| 61 | e4f4806b-e60a-4efd-acaf-d9947bb6830c |
| 62 | 60d6118a-ef60-40ae-b671-99a350092bbd |
| 63 | 9b8846d9-9298-4559-87b5-47a2fb46fb4b |
| 64 | 8aeb8caf-af48-4ba0-85bd-a093622ef19d |
| 65 | 5365804f-14b1-4005-8009-b146f59d9aeb |
| 66 | 11aaf21d-572f-42a8-9d60-51a8985ed3a6 |
| 67 | d4931925-4083-45c7-bbf3-4b17e6108d90 |
| 68 | 4e1153e0-9132-46fc-b598-1be95dbc9b46 |
| 69 | e2f6d4db-8980-4976-bec6-83d2b7310ebb |
| 70 | 1eb6acf9-3141-4530-b0cf-5e62425376c4 |
| 71 | 783fd946-8869-426e-96e8-8254c25a932e |
| 72 | f2743cfd-c1b1-4b26-a4aa-8e71988be01d |
| 73 | 6248a04b-65ea-444f-b521-c5479f114bfb |
| 74 | 30240a8d-e478-44d7-a86d-b381b510fe6f |
| 75 | e330c4ad-218c-4004-8dd8-5538d6213055 |
| 76 | a050dd31-bce5-450c-b32b-b3427f705d01 |
| 77 | 5350d4f2-8ca2-4fc5-963a-787c5712951b |
| 78 | f030de27-746e-4464-b67c-6b334890d019 |
| 79 | f20ab9bd-6491-4a7d-b2ef-f6fd43dbdbe0 |
| 80 | 892d1001-868e-47f6-9d8c-8b4869bcfca4 |
| 81 | 8717198f-7d4b-44e8-9256-6f62b57a7a26 |
| 82 | a0fb4a7c-5a69-48f5-aed0-a0d387f8db3c |